asgiref==3.4.1
attrs==21.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.7
coverage==6.0.2
distlib==0.3.3
Django==3.2.8
django-debug-toolbar==3.2.2
factory-boy==3.2.0
Faker==9.3.1
filelock==3.3.1
identify==2.3.0
idna==3.3
inflection==0.5.1
iniconfig==1.1.1
lxml==4.6.3
mypy==0.910
mypy-extensions==0.4.3
nodeenv==1.6.0
packaging==21.0
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.15.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==3.0.0
pytest-django==4.4.0
pytest-factoryboy==2.1.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.2
tenacity==8.0.1
text-unidecode==1.3
toml==0.10.2
tomli==1.2.1
types-requests==2.25.11
typing-extensions==3.10.0.2
urllib3==1.26.7
virtualenv==20.8.1
